	ul.tickets li.row {
		width: 100%;	
	}
	ul.ticket_row li .price {
		line-height: 5px;	
	}	
	ul.ticket_row li{
		width: 24%;
		display: inline-block;
		text-align: center;
		height: 120px;
		line-height: 75px;
		font-size: 30px;
		font-weight: bold;
		background: url(../../../images/magestore/raffle/green-ticket-md.png) center center no-repeat transparent;
		background-size: 90% 110px;	
	}
	#tickets .check-box {
		text-align: center;
		padding: 15px;	
	}
	.show-hide-tickets {
		width: 12%;
		float: left;
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 0px;
		color: gold;
		line-height: 2.5;
		background-color: green;
		cursor: pointer;
	}
	#tickets h2 {
		font-size: 3em;
		font-weight: bold;
		margin-bottom: 10px;
		color: gold;
		background-color: green;
		float: left;
		width: 88%;
	}	
	#raffle_popup,#raffle_winning,#raffle_lose{
		left: 50% !important;
		width: 50%;
		position: fixed;
		z-index: 1000;
		background-color: #fff;
		padding: 0 2%;
		margin-left: -25%;
		height: 80%;
		top: 10% !important;
		}	
		#dialog_overlay{		
			position:fixed !important;	
		}	
		#raffle_popup .winning,#raffle_popup .lose{
			width: 80%;		margin-left: -10%;
		}	
		#tickets .check-box button{
			margin-bottom: 15px;	
		}	
		.ticket_number {
			display: inline-block;
			color: red;		
			font-weight: bold;
			font-size: 18px;	
		}
		#tickets li.row {
			text-align: center;
			/* border: solid 3px green; */
			margin: 10px;
		}
		#tickets ul.ticket_row {
			padding: 15px;
		}