<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Raffle>
            <version>0.1.0</version>
        </Magestore_Raffle>
    </modules>
    <frontend>
        <routers>
            <raffle>
                <use>standard</use>
                <args>
                    <module>Magestore_Raffle</module>
                    <frontName>raffle</frontName>
                </args>
            </raffle>
        </routers>
        <layout>
            <updates>
                <raffle>
                    <file>raffle.xml</file>
                </raffle>
            </updates>
        </layout>
		<translate>
            <modules>
                <Magestore_Raffle>
                    <files>
                        <default>Magestore_Raffle.csv</default>
                    </files>
                </Magestore_Raffle>
            </modules>
        </translate>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <magestore_raffle_observer>
                        <class>raffle/observer</class>
                        <method>addToTopmenu</method>
                    </magestore_raffle_observer>
                </observers>
            </page_block_html_topmenu_gethtml_before>
            <catalog_product_collection_apply_limitations_before>
                <observers>
                    <magestore_raffle_observer>
                        <class>raffle/observer</class>
                        <method>catalog_product_collection_apply_limitations_before</method>
                    </magestore_raffle_observer>
                </observers>				
            </catalog_product_collection_apply_limitations_before>
            
            <catalog_product_collection_apply_limitations_after>
                <observers>
                    <magestore_raffle_observer>
                        <class>raffle/observer</class>
                        <method>catalog_product_collection_apply_limitations_before</method>
                    </magestore_raffle_observer>
                </observers>				
            </catalog_product_collection_apply_limitations_after>
        </events>
    </frontend>
    <admin>
        <routers>
			<raffleadmin>
				<use>admin</use>
				<args>
					<module>Magestore_Raffle</module>
					<frontName>raffleadmin</frontName>
				</args>
			</raffleadmin>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<raffle>
					<file>raffle.xml</file>
				</raffle>
			</updates>
		</layout>
		<translate>
            <modules>
                <Magestore_Raffle>
                    <files>
                        <default>Magestore_Raffle.csv</default>
                    </files>
                </Magestore_Raffle>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <raffle>
                <class>Magestore_Raffle_Model</class>
                <resourceModel>raffle_mysql4</resourceModel>
            </raffle>
            <raffle_mysql4>
                <class>Magestore_Raffle_Model_Mysql4</class>
                <entities>
                    <raffle>
                        <table>raffle</table>
                    </raffle>
                    <prizes>
                        <table>raffle_prizes</table>
                    </prizes>
                    <randnum>
                        <table>raffle_win_number</table>
                    </randnum>
                    <tickets>
                        <table>raffle_tickets</table>
                    </tickets>
                </entities>
            </raffle_mysql4>
        </models>
        <resources>
            <raffle_setup>
                <setup>
                    <module>Magestore_Raffle</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </raffle_setup>
            <raffle_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </raffle_write>
            <raffle_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </raffle_read>
        </resources>
        <blocks>
            <raffle>
                <class>Magestore_Raffle_Block</class>
            </raffle>
        </blocks>
        <helpers>
            <raffle>
                <class>Magestore_Raffle_Helper</class>
            </raffle>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <magestore_raffle_observer>
                      <type>singleton</type>
                      <class>raffle/observer</class>
                      <method>sales_order_save_after</method>
                    </magestore_raffle_observer>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <default>
            <raffle>
                    <general>
                            <create_tickets_when_state_order>complete</create_tickets_when_state_order>												
                    </general>
            </raffle>
    </default>
</config>